# compiled output
dist
build
cdk.out
out-tsc
**/*.js
**/*.d.ts
**/*.tgz

# dependencies
node_modules

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
.sass-cache
connect.lock
coverage
tsconfig.tsbuildinfo
*.log

# System Files
.DS_Store
Thumbs.db